{% include './_layout.css' %}
{% include './_theme.css' %}

:root {
	{% for key, color in colors.items() %}
	--{{ key }}: {{ color }};
	{% endfor %}
}

html {
	scroll-behavior: smooth;
}

.btn,
.btn-wrapper .cta_button,
.btn-wrapper .cta-button,
.btn-wrapper input[type="submit"],
.btn-wrapper input[type="button"],
input[type="submit"],
input[type="button"]  {
	{{ btn() }}
}

.text-btn {
	{% if !theme.typography.custom_font %}
	{{button.medium_font_style}};
	{% endif %}
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }};
	{% if button.advanced_settings && button.button_letter_spacing %}
	letter-spacing: {{ button.button_letter_spacing }}em;
	{% endif %}
	{% if button.advanced_settings && button.uppercase %}
	text-transform: uppercase;
	{% endif %}
}

.cta-group .btn-wrapper {
	display: inline-block;
}

.cta-group.btn-wrap .btn-wrapper {
	width: 100%;
}

.cta-group.btn-block .btn-wrapper,
.btn-block-wrapper .btn-wrapper,
.btn-block-wrapper .hs_submit {
	width: 100%;
}
.cta-group.btn-block .btn-wrapper .cta_button,
.cta-group.btn-block .btn-wrapper .cta-button,
.btn-block input[type="submit"],
.btn-block input[type="button"],
.btn-block-wrapper .btn-wrapper .cta_button,
.btn-block-wrapper .btn-wrapper .cta-button,
.btn-block-wrapper input[type="submit"],
.btn-block-wrapper input[type="button"] {
	width: 100%;
	justify-content: center;
	box-sizing: border-box !important;
}

.btn-left .hs_submit {
	text-align: left;
}

.btn-center .hs_submit {
	text-align: center;
}

.btn-right .hs_submit {
	text-align: right;
}

.btn-left .hs_submit,
.btn-center .hs_submit,
.btn-right .hs_submit {
	width: 100%;
}



.button_icon svg {
	display: block;
	fill: currentColor !important;
	height: 1em;
}

.button_icon svg g,
.button_icon svg path {
	fill: currentColor !important;
}

.block { display: table; }
.circle { border-radius: 100%; }
.divider {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0 0 13px 0;
	margin: 0 0 40px;
}
.text-center-mobile { text-align: center; }
.max-responsive { max-width: 100%; height: auto !important; }
.antialiased { -webkit-font-smoothing: antialiased; }

.no-bullets ul,
.no-bullets ol {
	list-style: none;
	padding-left: 0;
}

.animated {
	{{ animated() }}
}

.animated-fast {
	{{ animated_fast() }}
}

.sr-line-top { border-top: 1px solid {{ colors.borders }}; }
.sr-line-bottom { border-bottom: 1px solid {{ colors.borders }}; }

/* ----------------------------------------------------------------------------------- */
/*  Typography */
/* ----------------------------------------------------------------------------------- */
html {
	font-size: {{ font_size_base + 'px' }};
}

body {
	font-family: Arial;
	line-height: {{font_line_height / font_size_base}}rem;
	{% if !theme.typography.custom_font %}
	{{ typography.primary_font }};
	{% endif %}
	{% if theme.typography.base_font_responsive_typography %}
	{{ clamp(typography.base_font.min, typography.base_font.max) }}
	{% else %}
	font-size: 1rem;
	{% endif %}
	color: {{ colors.body_color }};
	background-color: {{ colors.body_bg }};
	margin: 0;
}

h1,
.h1 {
	{% if !theme.typography.custom_font %}
	{{ typography.h1.font }};
	{% endif %}
	margin-bottom: {{ typography.h1.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.h1.advanced_settings %}
	{% if typography.h1.line_height %}
	line-height: {{ typography.h1.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.h1.letter_spacing %}
	letter-spacing: {{ typography.h1.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.h1.responsive_typography %}
	{{ clamp(typography.h1.min, typography.h1.max) }}
	{% else %}
	font-size: {{ typography.h1.font_size / font_size_base }}rem;
	{% endif %}
}

h2,
.h2 {
	{% if !theme.typography.custom_font %}
	{{ typography.h2.font }};
	{% endif %}
	margin-bottom: {{ typography.h2.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.h2.advanced_settings %}
	{% if typography.h2.line_height %}
	line-height: {{ typography.h2.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.h2.letter_spacing %}
	letter-spacing: {{ typography.h2.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.h2.responsive_typography %}
	{{ clamp(typography.h2.min, typography.h2.max) }}
	{% else %}
	font-size: {{ typography.h2.font_size / font_size_base }}rem;
	{% endif %}
}

h3,
.h3 {
	{% if !theme.typography.custom_font %}
	{{ typography.h3.font }};
	{% endif %}
	margin-bottom: {{ typography.h3.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.h3.advanced_settings %}
	{% if typography.h3.line_height %}
	line-height: {{ typography.h3.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.h3.letter_spacing %}
	letter-spacing: {{ typography.h3.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.h3.responsive_typography %}
	{{ clamp(typography.h3.min, typography.h3.max) }}
	{% else %}
	font-size: {{ typography.h3.font_size / font_size_base }}rem;
	{% endif %}
}

h4,
.h4 {
	{% if !theme.typography.custom_font %}
	{{ typography.h4.font }};
	{% endif %}
	margin-bottom: {{ typography.h4.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.h4.advanced_settings %}
	{% if typography.h4.line_height %}
	line-height: {{ typography.h4.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.h4.letter_spacing %}
	letter-spacing: {{ typography.h4.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.h4.responsive_typography %}
	{{ clamp(typography.h4.min, typography.h4.max) }}
	{% else %}
	font-size: {{ typography.h4.font_size / font_size_base }}rem;
	{% endif %}
}

h5,
.h5 {
	{% if !theme.typography.custom_font %}
	{{ typography.h5.font }};
	{% endif %}
	margin-bottom: {{ typography.h5.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.h5.advanced_settings %}
	{% if typography.h5.line_height %}
	line-height: {{ typography.h5.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.h5.letter_spacing %}
	letter-spacing: {{ typography.h5.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.h5.responsive_typography %}
	{{ clamp(typography.h5.min, typography.h5.max) }}
	{% else %}
	font-size: {{ typography.h5.font_size / font_size_base }}rem;
	{% endif %}
}

h6,
.h6 {
	{% if !theme.typography.custom_font %}
	{{ typography.h6.font }};
	{% endif %}
	margin-bottom: {{ typography.h6.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.h6.advanced_settings %}
	{% if typography.h6.line_height %}
	line-height: {{ typography.h6.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.h6.letter_spacing %}
	letter-spacing: {{ typography.h6.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.h6.responsive_typography %}
	{{ clamp(typography.h6.min, typography.h6.max) }}
	{% else %}
	font-size: {{ typography.h6.font_size / font_size_base }}rem;
	{% endif %}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
	color: {{ colors.heading }};
}

h1 br, h2 br, h3 br, h4 br, h5 br, h6 br,
.display-1 br, .display-2 br, .display-3 br, .display-4 br, .description br { display: none; }
@media (min-width:992px) {
	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br,
	.display-1 br, .display-2 br, .display-3 br, .display-4 br, .description br { display: initial; }
}

.display-1 {
	{% if !theme.typography.custom_font %}
	{{ typography.display1.font }};
	{% endif %}
	margin-bottom: {{ typography.display1.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.display1.advanced_settings %}
	{% if typography.display1.line_height %}
	line-height: {{ typography.display1.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.display1.letter_spacing %}
	letter-spacing: {{ typography.display1.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.display1.responsive_typography %}
	{{ clamp(typography.display1.min, typography.display1.max) }}
	{% else %}
	font-size: {{ typography.display1.font_size / font_size_base }}rem;
	{% endif %}
}

.display-2 {
	{% if !theme.typography.custom_font %}
	{{ typography.display2.font }};
	{% endif %}
	margin-bottom: {{ typography.display2.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.display2.advanced_settings %}
	{% if typography.display2.line_height %}
	line-height: {{ typography.display2.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.display2.letter_spacing %}
	letter-spacing: {{ typography.display2.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.display2.responsive_typography %}
	{{ clamp(typography.display2.min, typography.display2.max) }}
	{% else %}
	font-size: {{ typography.display2.font_size / font_size_base }}rem;
	{% endif %}
}

.display-3 {
	{% if !theme.typography.custom_font %}
	{{ typography.display3.font }};
	{% endif %}
	margin-bottom: {{ typography.display3.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.display3.advanced_settings %}
	{% if typography.display3.line_height %}
	line-height: {{ typography.display3.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.display3.letter_spacing %}
	letter-spacing: {{ typography.display3.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.display3.responsive_typography %}
	{{ clamp(typography.display3.min, typography.display3.max) }}
	{% else %}
	font-size: {{ typography.display3.font_size / font_size_base }}rem;
	{% endif %}
}

.display-4 {
	{% if !theme.typography.custom_font %}
	{{ typography.display4.font }};
	{% endif %}
	margin-bottom: {{ typography.display4.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.display4.advanced_settings %}
	{% if typography.display4.line_height %}
	line-height: {{ typography.display4.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.display4.letter_spacing %}
	letter-spacing: {{ typography.display4.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.display4.responsive_typography %}
	{{ clamp(typography.display4.min, typography.display4.max) }}
	{% else %}
	font-size: {{ typography.display4.font_size / font_size_base }}rem;
	{% endif %}
}


p {
	margin-top: 0;
	margin-bottom: 1.25rem;
}

ul,
ol {
	padding-left: 2rem;
}

ul,
ol,
ul li,
ol li {
	{% if !theme.typography.custom_font %}
	{{typography.list.font}};
	{% endif %}
	font-size: {{ typography.list.font_size / font_size_base }}rem;
	{% if typography.list.list_advanced_settings %}
	{% if typography.list.line_height %}
	line-height: {{ typography.list.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.list.letter_spacing %}
	letter-spacing: {{ typography.list.letter_spacing }}em;
	{% endif %}
	{% else %}
	line-height: {{ percentage }};
	{% endif %}
}

{% if typography.list_custom_unordered_list %}
ul {
	list-style-image: url({{typography.list_bullets}});
}
{% endif %}

{% if typography.list_custom_ordered_list %}
ol {
	list-style: none;
	counter-reset: item;
	padding-left: 15px;
}

ol li {
	counter-increment: item;
}

ol li:before {
	margin-right: .5rem;
	content: counter(item)".";
	color: {{typography.list_number_color}};
	text-align: center;
	display: inline-block;
	font-weight: bold;
}
{% endif %}

.lead,
.large {
	{% if !theme.typography.custom_font %}
	{{ typography.lead_paragraph.font }};
	{% endif %}
	line-height: {{ percentage }};
	{% if typography.lead_paragraph.advanced_settings %}
	{% if typography.lead_paragraph.line_height %}
	line-height: {{ typography.lead_paragraph.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.lead_paragraph.advanced_settings %}
	letter-spacing: {{ typography.lead_paragraph.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.lead_paragraph.responsive_typography %}
	{{ clamp(typography.lead_paragraph.min, typography.lead_paragraph.max) }}
	{% else %}
	font-size: {{ typography.lead_paragraph.font_size / font_size_base }}rem;
	{% endif %}
}

.lead p,
.large p {
	margin-bottom: {{ typography.lead_paragraph.font_size / font_size_base * margin_percentage}}rem;
}

p.small,
.small,
small,
.font-small * {
	{% if !theme.typography.custom_font %}
	{{ typography.small.font }};
	{% endif %}
	line-height: {{ percentage }};
	{% if typography.small.advanced_settings %}
	{% if typography.small.line_height %}
	line-height: {{ typography.small.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.small.letter_spacing %}
	letter-spacing: {{ typography.small.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.small.responsive_typography %}
	{{ clamp(typography.small.min, typography.small.max) }}
	{% else %}
	font-size: {{ typography.small.font_size / font_size_base }}rem;
	{% endif %}
}

p.small {
	margin-bottom: {{ typography.small.font_size / font_size_base * margin_percentage}}rem;
}

blockquote {
	{% if !theme.typography.custom_font %}
	{{ typography.blockquote.font }};
	{% endif %}
	margin-bottom: {{ typography.blockquote.font_size / font_size_base * margin_percentage}}rem;
	line-height: {{ percentage }};
	{% if typography.blockquote.advanced_settings %}
	{% if typography.blockquote.line_height %}
	line-height: {{ typography.blockquote.line_height / font_size_base }}rem;
	{% endif %}
	{% if typography.blockquote,blockquote.letter_spacing %}
	letter-spacing: {{ typography.blockquote.blockquote.letter_spacing }}em;
	{% endif %}
	{% endif %}
	{% if typography.blockquote.responsive_typography %}
	{{ clamp(typography.blockquote.min, typography.blockquote.max) }}
	{% else %}
	font-size: {{ typography.blockquote.font_size / font_size_base }}rem;
	{% endif %}
}

svg,
svg g,
svg path {
	fill: currentColor;
}

.oembed_custom-thumbnail_icon svg, 
.oembed_custom-thumbnail_icon svg g, 
.oembed_custom-thumbnail_icon svg path {
    fill: inherit;
} 

{% if theme.typography.custom_font %}
{% include './_fonts.css' %}
{% endif %}

a {
	color: {{ colors.link_color }};
	text-decoration: none;
}

a:hover,
a:hover:not(.btn) {
	color: {{ colors.link_hover_color }};
	text-decoration: none;
}

p a {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

p a:hover {
	color: {{ colors.link_hover_color }};
	text-decoration: underline;
}

img,
video {
	max-width: 100%;
	height: auto;
}

a[href="javascript:;"],
a[href="javascript:;"]:hover {
	cursor: default
}

.unstyle-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.unstyle-list ul li {
	margin-bottom: 0.5rem;
}

.bg-bottom {
	background-position: bottom !important;
}

.bg-center {
	background-position: center !important;
}

.bg-left {
	background-position: left !important;
}

.bg-left-bottom {
	background-position: left bottom !important;
}

.bg-left-top {
	background-position: left top !important;
}

.bg-right {
	background-position: right !important;
}

.bg-right-bottom {
	background-position: right bottom;
}

.bg-right-top {
	background-position: right top !important;
}

.bg-top {
	background-position: top !important;
}

.bg-repeat {
	background-repeat: repeat !important;
}

.bg-no-repeat {
	background-repeat: no-repeat !important;
}

.bg-repeat-x {
	background-repeat: repeat-x !important;
}

.bg-repeat-y {
	background-repeat: repeat-y !important;
}

.bg-auto {
	background-size: auto !important;
}

.bg-cover {
	background-size: cover !important;
}

.bg-contain {
	background-size: contain !important;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: {{container.container_xs + 36}}px) {
	.container,
	.container-sm {
		max-width: {{container.container_xs}}px;
	}
}

@media (min-width: {{container.container_sm + 48}}px) {
	.container,
	.container-sm,
	.container-md {
		max-width: {{container.container_sm}}px;
	}
}

@media (min-width: {{container.container_md + 32}}px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg {
		max-width: {{container.container_md}}px;
	}
}

@media (min-width: {{container.container_lg + 60}}px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: {{container.container_lg}}px;
	}
}

@media screen and (min-width: 2560px) {
	.container {
		max-width: {{container.container_xl}}px;
	}
}

{% if theme.misc.border_radius != 0 %}
.pillar-cover-wrapper,
.sr-cards-articles-01 .article-item,
.sr-cards-articles-01 .article-item.odd:before,
.sr-cards-articles-02 .article-item a,
.sr-cards-features-01 .features > div,
.sr-cards-logos-01 .media,
.sr-cards-grid-02 .card,
.sr-cards-image-01 .item-card,
.sr-cards-slider-01 .feat-slider .slick-slide,
.sr-cards-testimonial-grid-01 .card,
.sr-cards-testimonial-grid-02 .team-card,
.sr-cards-testimonial-slider-01 .sr-cards-testimonial-slider-01-content,
.sr-cards-testimonial-slider-01 .sr-cards-testimonial-slider-01-content,
.sr-contact-01 section.sr-location,
.sr-contact-01 .media,
.sr-cards-team .team-card,
.sr-cards-testimonial-slider-02 .cards-wrapper,
.sr-cards-team-02 .team-member,
.sr-hero-02 .hero-feature,
.sr-hero-card-01 .sr-cover-inner,
.sr-job-listing-01 .listing-wrapper ul li,
.sr-offer-bar-04 .content-wrapper,
.sr-offer-bar-05 .card,
.sr-offer-faux-modal-01 .well,
.sr-offer-parallax-01 .sr-offer-parallax-01-content,
.sr-offer-parallax-02 .sr-offer-parallax-02-content-before,
.sr-offer-parallax-02 .sr-offer-parallax-02-content-after,
.sr-offer-two-col-02 .form-wrapper,
.sr-offer-two-col-03 .form-wrapper,
.sr-one-col-02-item > div,
.sr-social-tweet-01-content,
.sr-tabs-slider-02 .slickSliderItem,
.sr-three-col-features-01 .feature-list ul li,
.sr-two-col-features-02 .media,
.row.image-row a,
.sr-video-slider-01 .slider .slick-slide,
.sr-border,
.sr-cards-categories-01 .card-item,
.sr-cards-categories-01 .card-item-content {
	border-radius: {{theme.misc.border_radius}}px !important;
}
.sr-offer-one-col-01 .form-wrapper,
.sr-tabs-accordion-01 .accordion_header,
.sr-border-top {
	border-top-left-radius: {{theme.misc.border_radius}}px !important;
	border-top-right-radius: {{theme.misc.border_radius}}px !important;
}
.sr-cards-steps-01 .step-num-wrap,
.sr-cards-steps-01 .card-content,
.sr-cards-steps-02 .card-content,
.sr-tabs-accordion-01 .accordion_content,
.sr-contact-01 #map,
.sr-border-bottom {
	border-bottom-left-radius: {{theme.misc.border_radius}}px !important;
	border-bottom-right-radius: {{theme.misc.border_radius}}px !important;
}
.sr-tabs-slider-02 .sr-tabs-slider-02-image,
.sr-tabs-vertical-01 .hs-tabs__navitem,
.sr-border-left {
	border-top-left-radius: {{theme.misc.border_radius}}px !important;
	border-bottom-left-radius: {{theme.misc.border_radius}}px !important;
}
.sr-border-right {
	border-top-right-radius: {{theme.misc.border_radius}}px !important;
	border-bottom-right-radius: {{theme.misc.border_radius}}px !important;
}
{% endif %}

.card:not([class*="col-"]),
.sr-cards-pricing-01 .card,
.sr-cards-testimonial-slider-01 .slickSliderItem,
.sr-hero-02 .hero-feature,
.sr-faq-01 .faq-item,
.sr-faq-01 .faq-item::before,
.sr-faq-01 .faq-item::after,
.sr-cards-categories-01 .card-item-content,
.sr-offer-one-col-01 .form-wrapper,
.sr-cards-filter-01 .item .item-inner:not(:hover),
.sr-cards-image-01 .item-card,
.sr-tabs-accordion-01 .accordion_group,
.sr-cards-team-02 .team-member,
.sr-cards-testimonial-grid-01 .card,
.sr-style-guide .guide-nav,
.sr-cards-filter-02-item a:hover .item-card,
.modal-content,
.sr-sticky-breadcrumb,
.sr-sticky-breadcrumb-categories,
.ng-blog-wrapper,
.sr-social-share.sr-social-share,
.blog-related-posts .article-panel .article-content,
.email-prefs .item .item-inner,
.sr-cards-features-01 .features > div,
.sr-card,
.sr-cards-articles-02 .article-item a,
.sr-two-col-features-02 .media,
.sr-cards-logos-01 .media,
.sr-cards-pricing-02 .col-md-4,
.sr-cards-slider-01 .feat-slider .slick-slide,
.sr-cards-team .team-card,
.sr-cards-testimonial-grid-02 .team-card,
.sr-conversational-form-01-form-inner,
.hero-form-01 .sr-form,
.sr-job-listing-01 .listing-wrapper ul li,
.sr-offer-faux-modal-01 .well,
.sr-offer-two-col-03 .form-wrapper,
.sr-padding-half .area-bottom:after,
.sr-padding-full .area-bottom:after,
.sr-padding-zero .area-bottom:after,
.area-bottom,
.sr-one-col-02-item > div,
.sr-social-tweet-01-content,
.sr-tabs-slider-02 .slickSliderItem,
.sr-three-col-features-01 .feature-list ul li,
.sr-two-col-features .link-wrapper:hover,
.pillar-nav-toc-01 .pillar-nav-toc-01-list li a,
.pillar-nav-toc-02 .pillar-nav-toc-02-list li a {
	background-color: rgba({{ misc.card_bg|convert_rgb  }}, {{ misc.card_bg_opacity/100 }})
}

.card,
.sr-hero-02 .hero-feature,
.sr-cards-categories-01 .card-item,
.sr-cards-grid-02 .card,
.sr-cards-filter-01 .item .item-inner,
.sr-contact-01 section.sr-location,
.sr-cards-image-01 .item-card:hover,
.sr-cards-pricing-01 .card,
.sr-cards-pricing-01 .card .featured_text,
.sr-tabs-accordion-01 .accordion_header,
.sr-tabs-accordion-01 .accordion_content,
.sr-cards-team-02 .team-member,
.sr-cards-testimonial-grid-01 .card,
.sr-cards-steps-01 .card-content,
.modal-content,
.sr-sticky-breadcrumb-heading,
.article-list-subscribe,
.sr-sticky-breadcrumb-categories,
.sr-social-share.sr-social-share,
.email-prefs .item .item-inner,
.sr-two-col-features-02 .media,
.sr-cards-features-01 .features > div,
.sr-cards-logos-01 .media,
.sr-cards-pricing-02 .col-md-4,
.sr-cards-slider-01 .feat-slider .slick-slide,
.sr-cards-team .team-card,
.sr-cards-testimonial-grid-02 .team-card,
.sr-job-listing-01 .listing-wrapper ul li,
.sr-one-col-02-item > div,
.sr-social-tweet-01-content,
.sr-tabs-slider-02 .slickSliderItem,
.sr-three-col-features-01 .feature-list ul li,
.sr-two-col-features .link-wrapper:hover,
.pillar-nav-toc-01 .pillar-nav-toc-01-list li a,
.pillar-nav-toc-02 .pillar-nav-toc-02-list li a,
.sr-cards-steps-01 .card-content,
.sr-cards-steps-02 .card-content,
.sr-footer-02 .footer-item {
	border-color: {{ colors.borders }};
}

.email-prefs .item .item-inner * {
	color: inherit;
}

.close {
	text-shadow: none;
}

{% for key, val in colors.items() %}

/* ----------------------------------------------------------------------------------- */
/* Button color classes */
/* ----------------------------------------------------------------------------------- */
{% set btn_css_class = 'btn-' + key %}
{% set btn_hubl_class = 'btn_' + key %}
{% set btn_outline_css_class = 'btn-outline-' + key %}
{% set btn_outline_hubl_class = 'btn_outline_' + key %}

.{{ btn_css_class }} {
	{{ btn_hubl_class() }}
}

.{{ btn_css_class }}:hover {
	color: #fff;
	background-color: {{ val }};
	filter: brightness(110%);
}

.{{ btn_css_class }}:not(:disabled):not(.disabled).active,
.{{ btn_css_class }}:not(:disabled):not(.disabled):active,
.show>.{{ btn_css_class }}.dropdown-toggle,
.{{ btn_css_class }}.focus,
.{{ btn_css_class }}:focus {
	background-color: {{ val }};
	filter: brightness(90%);
}

.btn-wrapper.{{ btn_css_class }}-wrapper .cta_button,
.btn-wrapper.{{ btn_css_class }}-wrapper .cta-button,
input[type=submit].hs-button.{{ key }},
.btn-wrapper.{{ btn_css_class }}-wrapper input[type="submit"],
.btn-wrapper.{{ btn_css_class }}-wrapper input[type="button"],
input[type=submit].hs-button.{{ btn_css_class }} {
	{{ btn_hubl_class() }}
}

.btn-wrapper.{{ btn_css_class }}-wrapper .cta_button:hover,
.btn-wrapper.{{ btn_css_class }}-wrapper .cta-button:hover,
input[type=submit].hs-button.{{ key }}:hover,
.btn-wrapper.{{ btn_css_class }}-wrapper input[type="submit"]:hover,
.btn-wrapper.{{ btn_css_class }}-wrapper input[type="button"]:hover,
input[type=submit].hs-button.{{ btn_css_class }}:hover {
	color: #fff;
	background-color: {{ val }};
	filter: brightness(110%);
	text-decoration: none;
}

.{{ btn_outline_css_class }} {
	{{ btn_outline_hubl_class() }}
}

.{{ btn_outline_css_class }}:hover {
	color: #fff;
	background-color: {{ val }};
}

.btn-wrapper.{{ btn_outline_css_class }}-wrapper .cta_button,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper .cta-button,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper input[type="submit"],
.btn-wrapper.{{ btn_outline_css_class }}-wrapper input[type="button"] {
	{{ btn_outline_hubl_class() }}
}

.btn-wrapper.{{ btn_outline_css_class }}-wrapper .cta_button:hover,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper .cta-button:hover,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper input[type="submit"]:hover,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper input[type="button"]:hover {
	{{ btn_outline_hubl_class() }}
	color: #fff;
	background-color: {{ val }};
}

/* ----------------------------------------------------------------------------------- */
/* Text color classes */
/* ----------------------------------------------------------------------------------- */
{% set text_css_class = 'text-' + key %}
{% set text_hubl_class = 'text_' + key %}

.{{ text_css_class }} {
	{{ text_hubl_class() }}
}

.{{ text_css_class }} svg,
.{{ text_css_class }} svg g,
.{{ text_css_class }} svg path {
	fill: {{ val }}
}

.{{ text_css_class }} :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, label, .hs-error-msgs, .hs-error-msg, .hs-error-msgs li, .hs-form-field span) {
	color: inherit;
}

/* ----------------------------------------------------------------------------------- */
/* Background color classes */
/* ----------------------------------------------------------------------------------- */
{% set bg_css_class = 'bg-' + key %}
{% set bg_hubl_class = 'bg_' + key %}


.{{ bg_css_class }} {
	{{ bg_hubl_class() }}
}

/* ----------------------------------------------------------------------------------- */
/* Border color classes */
/* ----------------------------------------------------------------------------------- */
{% set border_css_class = 'border-' + key %}
{% set border_hubl_class = 'border_' + key %}

.{{ border_css_class }} {
	{{ border_hubl_class() }}
}

{% endfor %}

.text-custom :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, label, label span, .hs-error-msgs, .hs-error-msg, .hs-error-msgs li) {
	color: inherit;
}

.btn-wrapper.btn-outline-white-wrapper .cta_button:hover,
.btn-wrapper.btn-outline-white-wrapper .cta-button:hover,
.btn-wrapper.btn-outline-white-wrapper input[type="submit"]:hover,
.btn-wrapper.btn-outline-white-wrapper input[type="button"]:hover,
.btn-wrapper.btn-white-wrapper .cta_button,
.btn-wrapper.btn-white-wrapper .cta-button,
.btn-wrapper.btn-white-wrapper input[type="submit"],
.btn-wrapper.btn-white-wrapper input[type="button"],
.btn-white,
.btn-outline-white:hover {
	color: #000;
}

.btn-wrapper.btn-white-wrapper .cta_button:hover,
.btn-wrapper.btn-white-wrapper .cta-button:hover,
.btn-wrapper.btn-white-wrapper input[type="submit"]:hover,
.btn-wrapper.btn-white-wrapper input[type="button"]:hover,
.btn-wrapper.btn-black-wrapper .cta_button:hover,
.btn-wrapper.btn-black-wrapper .cta-button:hover,
.btn-wrapper.btn-black-wrapper input[type="submit"]:hover,
.btn-wrapper.btn-black-wrapper input[type="button"]:hover,
.btn-white:hover {
	background: {{colors.primary}};
	border-color: {{colors.primary}};
}


.btn.btn-sm,
.btn-wrapper.btn-wrapper-sm .cta_button,
.btn-wrapper.btn-wrapper-sm .cta-button,
.btn-wrapper.btn-wrapper-sm input[type="submit"],
.btn-wrapper.btn-wrapper-sm input[type="button"],
.btn.btn-sm:hover,
.btn-wrapper.btn-wrapper-lg .cta_button:hover,
.btn-wrapper.btn-wrapper-lg .cta-button:hover {
	min-height: {{ button.small_height  / font_size_base + 'rem' }};
	padding: 0 {{ button.small_button_l_r_padding / font_size_base }}rem;
	font-size: {{ button.small_font_size / font_size_base + 'rem' }};
}

.btn.btn-md,
.btn-wrapper.btn-wrapper-md .cta_button,
.btn-wrapper.btn-wrapper-md .cta-button,
.btn-wrapper.btn-wrapper-md input[type="submit"],
.btn-wrapper.btn-wrapper-md input[type="button"],
.btn.btn-md:hover,
.btn-wrapper.btn-wrapper-md .cta_button:hover,
.btn-wrapper.btn-wrapper-md .cta-button:hover {
	min-height: {{ button.medium_height / font_size_base + 'rem' }};
	padding: 0 {{ button.medium_button_l_r_padding / font_size_base }}rem;
}
.btn.btn-lg,
.btn-wrapper.btn-wrapper-lg .cta_button,
.btn-wrapper.btn-wrapper-lg .cta-button,
.btn-wrapper.btn-wrapper-lg input[type="submit"],
.btn-wrapper.btn-wrapper-lg input[type="button"],
.btn.btn-lg:hover,
.btn-wrapper.btn-wrapper-lg .cta_button:hover,
.btn-wrapper.btn-wrapper-lg .cta-button:hover {
	min-height: {{ button.large_height / font_size_base + 'rem' }};
	padding: 0 {{ button.large_button_l_r_padding / font_size_base }}rem;
	font-size: {{ button.large_font_size / font_size_base + 'rem' }};
}


.btn-wrapper.btn-none-wrapper .cta_button,
.btn-wrapper.btn-none-wrapper .cta-button {
	padding: 0 !important;
	min-height: auto!important;
	border: none;
	font-weight: inherit;
	position: relative;
}

/* Override for primary button */
{% if theme.buttons_inputs.enable_primary_button_color_override %}
.btn-wrapper.btn-primary-wrapper .cta_button,
.btn-wrapper.btn-primary-wrapper .cta-button,
.btn-wrapper.btn-primary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-primary-wrapper .hs-form input[type="button"],
input[type=submit].hs-button.primary {
	background-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }};
	border-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }};
	color: {{ theme.buttons_inputs.primary_button_override.primary_button_text_color.color }};
}

.btn-wrapper.btn-primary-wrapper .cta_button:hover,
.btn-wrapper.btn-primary-wrapper .cta-button:hover,
.btn-wrapper.btn-primary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-primary-wrapper .hs-form input[type="button"]:hover,
input[type=submit].hs-button.primary:hover {
	background-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_hover_color.color }};
	border-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_hover_color.color }};
	color: {{ theme.buttons_inputs.primary_button_override.primary_button_text_hover_color.color }};
}
.btn-wrapper.btn-outline-primary-wrapper .cta_button,
.btn-wrapper.btn-outline-primary-wrapper .cta-button,
.btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="button"] {
	border-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }};
	color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }};
}
.btn-wrapper.btn-outline-primary-wrapper .cta_button:hover,
.btn-wrapper.btn-outline-primary-wrapper .cta-button:hover,
.btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="button"]:hover {
	background-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_hover_color.color }};
	border-color: {{ theme.buttons_inputs.primary_button_override.primary_button_background_hover_color.color }};
	color: {{ theme.buttons_inputs.primary_button_override.primary_button_text_hover_color.color }};
}
{% endif %}

/* Override for secondary button */
{% if theme.buttons_inputs.enable_secondary_button_color_override %}
.btn-wrapper.btn-secondary-wrapper .cta_button,
.btn-wrapper.btn-secondary-wrapper .cta-button,
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="button"],
input[type=submit].hs-button.secondary {
	background-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }};
	border-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }};
	color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_text_color.color }};
}

.btn-wrapper.btn-secondary-wrapper .cta_button:hover,
.btn-wrapper.btn-secondary-wrapper .cta-button:hover,
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="button"]:hover,
input[type=submit].hs-button.secondary:hover {
	background-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_hover_color.color }};
	border-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_hover_color.color }};
	color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_text_hover_color.color }};
}
.btn-wrapper.btn-outline-secondary-wrapper .cta_button,
.btn-wrapper.btn-outline-secondary-wrapper .cta-button,
.btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="button"] {
	border-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }};
	color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }};
}
.btn-wrapper.btn-outline-secondary-wrapper .cta_button:hover,
.btn-wrapper.btn-outline-secondary-wrapper .cta-button:hover,
.btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="button"]:hover {
	background-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_hover_color.color }};
	border-color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_background_hover_color.color }};
	color: {{ theme.buttons_inputs.secondary_button_override.secondary_button_text_hover_color.color }};
}
{% endif %}

/* Override for tertiary button */
{% if theme.buttons_inputs.enable_tertiary_button_color_override %}
.btn-wrapper.btn-tertiary-wrapper .cta_button,
.btn-wrapper.btn-tertiary-wrapper .cta-button,
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="button"],
input[type=submit].hs-button.tertiary {
	background-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }};
	border-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }};
	color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_text_color.color }};
}

.btn-wrapper.btn-tertiary-wrapper .cta_button:hover,
.btn-wrapper.btn-tertiary-wrapper .cta-button:hover,
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="button"]:hover,
input[type=submit].hs-button.tertiary:hover {
	background-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_hover_color.color }};
	border-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_hover_color.color }};
	color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_text_hover_color.color }};
}
.btn-wrapper.btn-outline-tertiary-wrapper .cta_button,
.btn-wrapper.btn-outline-tertiary-wrapper .cta-button,
.btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="button"] {
	border-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }};
	color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }};
}
.btn-wrapper.btn-outline-tertiary-wrapper .cta_button:hover,
.btn-wrapper.btn-outline-tertiary-wrapper .cta-button:hover,
.btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="button"]:hover {
	background-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_hover_color.color }};
	border-color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_hover_color.color }};
	color: {{ theme.buttons_inputs.tertiary_button_override.tertiary_button_text_hover_color.color }};
}
{% endif %}

/* ----------------------------------------------------------------------------------- */
/*  HubSpot Forms */
/* ----------------------------------------------------------------------------------- */

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	gap: 24px;
}

.hs-form-field {
	flex: 1;
}

.hs-form-field ~ .hs-form-field,
.hs-form .hs_error_rollup {
	flex-basis: 100%;
}
fieldset .hs-form-field {
	flex-basis: auto;
}
.hs-form-field {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.hs-form-field > * {
	order: 2;
}

fieldset {
	width: 100%;
	font-size: 1rem;
	max-width: none !important;
}
fieldset > div .input {
	margin: 0 !important;
}
fieldset .hs-dependent-field {
	display: flex;
	gap: 24px;
	flex-direction: column;
}
fieldset.form-columns-1 .hs-input:not([type=checkbox]):not([type=radio]),
fieldset div {
	width: 100% !important
}
fieldset {
	display: flex;
	gap: 24px;
	flex-direction: column;
}
@media only screen and (min-width: 992px) {
	fieldset {
		flex-direction: row;
	}
	fieldset div {
		flex: 1;
	}
}

@media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
	:not(.hs-video-form) .form-columns-2 .hs-form-field .hs-input,
	:not(.hs-video-form) .form-columns-3 .hs-form-field .hs-input {
		width: 100% !important
	}
}

form#email-prefs-form input.email-edit.hs-input {
	width: 100% !important;
}

.hs-error-msg,
.hs-error-msgs li {
	font-size: .75rem;
	line-height: 1.2;
	color: {{ form.help_text_color.color }};
	margin-bottom: 0.5rem;
}

.hs-form .hs_error_rollup {
	order: 99;
}

input#hs-pwd-widget-password {
	width: 100%;
	height: initial !important;
	padding: .6rem;
	margin-bottom: 1rem;
	margin-top: 1rem !important;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: {{ color(form.field_placeholder_color)}};
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: {{ color(form.field_placeholder_color)}};
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: {{ color(form.field_placeholder_color)}};
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: {{ color(form.field_placeholder_color)}};
}

::placeholder {
	/* Most modern browsers support this now. */
	color: {{ color(form.field_placeholder_color)}};
}

.error::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: {{ color(form.help_text_color)}};
}

.error::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: {{ color(form.help_text_color)}};
}

.error:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: {{ color(form.help_text_color)}};
}

.error::-ms-input-placeholder {
	/* Microsoft Edge */
	color: {{ color(form.help_text_color)}};
}

.error::placeholder {
	/* Most modern browsers support this now. */
	color: {{ color(form.help_text_color)}};
}

.hs-field-desc {
	font-size: .8em;
	margin: 0 0 .5em;
}

.sr-form input[type="radio"], 
.sr-form input[type="checkbox"] {
	margin-right: 2px;
}

select {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"> <path d="M7.80794 10.7695L4.09346 6.31215C3.65924 5.79109 4.02976 5 4.70803 5L11.292 5C11.9702 5 12.3408 5.79108 11.9065 6.31215L8.19206 10.7695C8.09211 10.8895 7.90789 10.8895 7.80794 10.7695Z" fill="%23{{ colors.primary|replace('#','') }}"/>%20</svg>');
	background-position: calc(100% - 12px) center;
	background-repeat: no-repeat;
	line-height: 1;
	height: auto;
}

.inputs-list {
	margin: 0;
	padding: 0;
}

.inputs-list li {
	list-style: none;
}

.hs-error-msgs {
	order: 1;
}

.no-list {
	list-style: none;
}

.no-list label {
	display: inline;
}

.field > label,
.form-group label,
.field span,
.form-group span {
	{% if !theme.typography.custom_font %}
	{{ form.label_font.style }};
	{% endif %}
	font-size: {{ form.label_size / font_size_base }}rem;
	line-height: {{ form.label_size / font_size_base * percentage}}rem;
	color: {{ form.label_color.color }};
	margin: 0 0 0.3rem;
}


textarea,
select,
.form-control,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]),
input[readonly]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	{% if !theme.typography.custom_font %}
	{{ form.field_font.style }};
	{% endif %}
	font-size: {{ form.field_size / font_size_base }}rem;
	line-height: {{ form.field_size / font_size_base * percentage}}rem;
	color: {{ form.field_color.color }};
	background-color: {{ color(form.field_background_color)}};
	min-height: {{ button.medium_height / font_size_base + 'rem' }};
	padding: 0 15px;
	{{ form.field_border.css }}
	border-radius: {{ form.field_border_radius }}px;
	max-width: 100%;
	width: 100%;
	-webkit-appearance: none;
	outline: none;
	transition: all .15s ease-in-out;
	animation-timing-function: ease-in-out;
}

textarea:focus,
select:focus,
.form-control:focus,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]):focus,
input[readonly]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]):focus {
	color: {{ form.field_focus_color.color }};
	border-color: {{ form.field_border_focus_color.color }};
	box-shadow: none;
}

textarea.error,
select.error,
.form-control.error,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]).error,
input[readonly]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]).error,
.hs-error-msg {
	color: {{ form.help_text_color.color }};
	border-color: {{ form.help_text_color.color }};
}

.sr-form [type="radio"]:checked,
.sr-form [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
    
.sr-form [type="radio"]:checked + span,
.sr-form [type="radio"]:not(:checked) + span {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
}
    
.sr-form [type="radio"]:checked + span:before,
.sr-form [type="radio"]:not(:checked) + span:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 16px;
	height: 16px;
	{{ form.field_border.css }}
	border-radius: 100%;
	background: #fff;
}
    
.sr-form [type="radio"]:checked + span:after,
.sr-form [type="radio"]:not(:checked) + span:after {
	content: '';
	width: 8px;
	height: 8px;
	background: {{ colors.primary }};
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
    
.sr-form [type="radio"]:not(:checked) + span:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.sr-form [type="radio"]:checked + span:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.sr-form [type="checkbox"]:checked,
.sr-form [type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
    
.sr-form [type="checkbox"]:checked + span,
.sr-form [type="checkbox"]:not(:checked) + span {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
}
    
.sr-form [type="checkbox"]:checked + span:before,
.sr-form [type="checkbox"]:not(:checked) + span:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 16px;
	height: 16px;
	{{ form.field_border.css }}
	border-radius: 4px;
}
    
.sr-form [type="checkbox"]:checked + span:before {
	background: {{ colors.primary }}
}
    
.sr-form [type="checkbox"]:checked + span:after,
.sr-form [type="checkbox"]:not(:checked) + span:after {
	content: url('data:image/svg+xml; utf8, <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5L3.5 7L9 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
	width: 10px;
	height: 8px;
	position: absolute;
	top: -1.5px;
	left: 3px;
	transition: all .2s ease;
}
    
.sr-form [type="checkbox"]:not(:checked) + span:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.sr-form [type="checkbox"]:checked + span:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.sr-form [type=file]::file-selector-button,
.sr-form [type=file]::-webkit-file-upload-button {
	border-radius: {{ button.border_radius + 'px' }};
	border: none;
	padding: 0.25rem 1rem;
	margin-right: 1rem;
	cursor: pointer
}

.sr-form [type=file]::file-selector-button:hover,
.sr-form [type=file]::-webkit-file-upload-button:hover {
	filter: brightness(90%);
}

textarea {
	padding-top: .75rem;
	padding-bottom: .75rem;
	min-height: 75px;
}

.form-control-lg,
.form-wrapper-lg input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	min-height: {{ button.large_height / font_size_base + 'rem' }};
	font-size: {{ button.large_font_size / font_size_base + 'rem' }};
	padding: 0 15px;
}

.form-control-md,
.form-wrapper-md input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	min-height: {{ button.medium_height / font_size_base + 'rem' }};
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }};
	padding: 0 15px;
}

.form-control-sm,
.form-wrapper-sm input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	min-height: {{ button.small_height / font_size_base + 'rem' }};
	font-size: {{ button.small_font_size / font_size_base + 'rem' }};
	padding: 0 15px;
}

.form-control-lg input[type=submit].hs-button.primary,
.form-control-lg input[type=submit].hs-button.secondary,
.form-wrapper-lg input[type=submit].hs-button.primary,
.form-wrapper-lg input[type=submit].hs-button.secondary {
	min-height: {{ button.large_height / font_size_base + 'rem' }};
	padding: 0 {{ button.large_button_l_r_padding / font_size_base }}rem !important;
	font-size: {{ button.large_font_size / font_size_base + 'rem' }};
}

.form-control-md input[type=submit].hs-button.primary,
.form-control-md input[type=submit].hs-button.secondary,
.form-wrapper-md input[type=submit].hs-button.primary,
.form-wrapper-md input[type=submit].hs-button.secondary {
	min-height: {{ button.medium_height / font_size_base + 'rem' }};
	padding: 0 {{ button.medium_button_l_r_padding / font_size_base }}rem  !important;
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }};
}

.form-control-sm input[type=submit].hs-button.primary,
.form-control-sm input[type=submit].hs-button.secondary,
.form-wrapper-sm input[type=submit].hs-button.primary,
.form-wrapper-sm input[type=submit].hs-button.secondary {
	min-height: {{ button.small_height / font_size_base + 'rem' }};
	padding: 0 {{ button.small_button_l_r_padding / font_size_base }}rem  !important;
	font-size: {{ button.small_font_size / font_size_base + 'rem' }};
}

.sr-multicol-media iframe,
.sr-multicol-media video {
	width: 100%;
	height: 100%;
	aspect-ratio: 16/9;
}

.sr-multicol-media .section-heading {
	margin: 0 0 1.25rem;
	padding: 0;
}
.sr-multicol-media .responsive-video-file {
	max-width: 100%;
	position: relative;
	z-index: 9;
}
.sr-multicol-media .responsive-image img {
	max-width: 100%;
	height: auto;
}
.sr-multicol-media .col-heading {
	padding: 0;
}
.sr-multicol-media.sr-bg-image .sr-col {
	padding: 6.25rem 4rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-right: solid 1px #e5e7ea;
	border-right: solid 1px var(--borders);
}
.sr-multicol-media.sr-bg-image .sr-col:last-of-type {
	border-right: none;
}
.sr-multicol-media.sr-bg-image .sr-col .form-control {
	padding: 3.125rem 0 0;
}
.sr-multicol-media.sr-bg-image .sr-col::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.sr-multicol-media.sr-bg-image .sr-col .content-wrapper,
.cta-group {
	position: relative;
	z-index: 2;
}
.description p:last-child {
	margin-bottom: 0;
}
.chevron-left.slick-arrow,
.chevron-right.slick-arrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 30px;
	z-index: 1;
		cursor: pointer;
}
.chevron-right.slick-arrow {
	right: 2rem
}
.chevron-left.slick-arrow {
	left:2rem
}
.slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2rem;
	list-style-type: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	bottom: 0;
	margin: 0;

}
.slick-dots button {
	display: block;
	width: 8px;
	height: 8px;
	padding: 0;
	border: none;
	border-radius: 100%;
	text-indent: -9999px;
	-webkit-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	margin: 4px;
	box-shadow: 0 0 0 4px transparent;
	background: #0C63FF;
	background: var(--primary);
}
.slick-dots li.slick-active button {
	background-color: transparent !important;
	box-shadow: 0 0 0 2px #0C63FF;
	box-shadow: 0 0 0 2px var(--primary);
}
.sr-bg-video,
.sr-bg-video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
	overflow: hidden;
	object-fit: cover;
}
.oembed_container {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.iframe_wrapper {
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
	position: relative;
}

.oembed_container_iframe {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.oembed_custom-thumbnail,
.oembed_custom-thumbnail:hover,
.oembed_custom-thumbnail:focus,
.oembed_custom-thumbnail:active {
	align-items: center;
	appearance: none;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
	border: none;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.oembed_custom-thumbnail_icon {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: 100%;
}

.oembed_custom-thumbnail_icon svg {
	display: block;
	height: auto;
	width: 12%;
}

/* SVGs in IE11 require the max-width to be set to non in order to display scaling properly */
_:-ms-fullscreen, :root .oembed_custom-thumbnail_icon svg {
	max-width: none;
}

.oembed_custom-thumbnail--hide {
	display: none;
}

.embed_container {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.embed_container iframe {
	left: 0;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.oembed-info {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
}

/* Placeholder styles */
:not(.hs-inline-edit) .hs-placeholder {
	display: none;
}

.hs-inline-edit .hs-placeholder {
	background-color: #f5f8fa !important;
	border: 1px dashed #516f90 !important;
	display: block !important;
	font-size: 14px !important;
	margin: 2px 1px !important;
	outline: 1px dashed #fff !important;
	text-align: center !important;
}

.hs-placeholder > * {
	box-sizing: border-box !important;
	display: block !important;
	margin: 1px !important;
	padding: 12px !important;
	width: calc(100% - 2px) !important;
}

.hs-placeholder__title {
	color: #7c98b6 !important;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 700 !important;
	line-height: initial !important;
	margin-bottom: 10px !important;
	margin-top: 0 !important;
	padding: 0 !important;
	text-shadow: 0 -1px 0 hsla(0,0%,100%,.5) !important;
}

.hs-placeholder__description {
	color: #7c98b6 !important;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
	font-style: italic !important;
	font-weight: 400 !important;
	line-height: 1.6 !important;
	margin: 0 !important;
	text-shadow: 0 -1px 0 hsla(0,0%,100%,.5) !important;
}

.sr-multicol-media.text-white .col-subheading,
.sr-multicol-media.text-white .col-heading,
.sr-multicol-media.text-white .col-content,
.sr-multicol-media.text-light .col-subheading,
.sr-multicol-media.text-light .col-heading,
.sr-multicol-media.text-light .col-content,
.sr-multicol-media.text-dark .col-subheading,
.sr-multicol-media.text-dark .col-heading,
.sr-multicol-media.text-dark .col-content,
.sr-multicol-media.text-primary .col-subheading,
.sr-multicol-media.text-primary .col-heading,
.sr-multicol-media.text-primary .col-content,
.sr-multicol-media.text-secondary .col-subheading,
.sr-multicol-media.text-secondary .col-heading,
.sr-multicol-media.text-secondary .col-content,
.sr-multicol-media.text-tertiary .col-subheading,
.sr-multicol-media.text-tertiary .col-heading,
.sr-multicol-media.text-tertiary .col-content description  {
	color: inherit;
}
ul.slick-dots,
footer ul,
.sr-two-col-07 .sr-feature-check {
	list-style-image: none;
}
.lang_switcher_class {
	display: block !important;
}
.lang_list_class {
	list-style: none;
}
body { opacity: 1 }