<!--
templateType: page
isAvailableForNewContent: false
-->
<style>
	.tag-post:not(:first-of-type) {
		border-top: 1px solid var(--borders);
		padding-top: 1.5rem;
		margin-top: 1.5rem;
	}
</style>
<div class="blog-container">
	<div class="container ">
		<div class="row pt-5 blog-content">

			<div class="col-lg-12 sr-spacer-bottom-100">
				<div class="article">
					<h1 class="mb-5">Articles about {{ page_meta.html_title|split(' | ')|last }}</h1>
					{% for content in contents %}
					<div class="tag-post {% if loop.index >7 %} inactive{% endif %}">
						<div class="article-meta d-flex align-items-center">
							<small class="date">{{ content.publish_date_local_time|datetimeformat('%B %d, %Y') }}</small>
						</div>
						<h4 class="mt-3 mb-2"><a class="h4" href="{{ content.absolute_url }}">{{ content.name }}</a></h4>
						<div class="btn-wrapper btn-none-wrapper mt-4">
							<a href="{{ content.absolute_url }}" class="cta-button">
								Read article
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>


		</div>
	</div>
</div>